@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light: #fff;
  --dark: #000;
  --Poppins: "Poppins", serif;
  --orcale: orcale;
  --primary: #563e21;
  --light-blue: #95adcb;
  --light-blue-2: #75a5ff;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--Poppins) !important;
  /* background-color: var(--dark); */
}

.btn-primary {
  background: var(--dark);
  color: var(--light);
  padding: 0.65rem 1.25rem;
  border-radius: 100px;
}

.navbar-container {
  padding: 2.25rem 3.5rem 2.25rem 3rem;
  /* background-color: antiquewhite; */
  position: fixed;
  z-index: 20;
  width: 100vw;
  transition: all 0.8s ease;
}

.navbar-container.scrolled {
  background-color: #ffffffa6;
  transition: all 0.8s ease;
  padding: 1.5rem 3.5rem 1.5rem 3rem;
}

.navbar-container.hovered {
  background-color: var(--light) !important;
  transition: all 0.8s ease;
  padding: 1.5rem 3rem 2rem 3rem;
}

.navbar-container.hovered .scrolled {
  display: block;
  transition: all 0.5s ease;
  animation: show 1s ease forwards;
}

.navbar-container.hovered .scroll {
  display: none;
  transition: all 0.5s ease;
  animation: show 1s ease forwards;
}

.navbar-container.hovered .nav-links .nav-link.nav-light {
  background-color: var(--dark);
  transition: all 0.5s ease;
  color: var(--light);
}

.navbar-container.scrolled.hovered {
  background-color: var(--light) !important;
  transition: all 0.8s ease;
  padding: 1.5rem 3rem 2rem 3rem;
}

.section-image {
  width: 100%;
  height: 100%;
}

.section-image img,
.section-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-container.hovered .nav-links .nav-link {
  color: var(--dark);
  transition: all 0.5s ease;
}

.navbar-container.hovered .nav-links .nav-link.nav-border {
  border: 1px solid var(--dark);
  transition: all 0.5s ease;
}

.nav-links .nav-link {
  color: var(--light);
  background: transparent;
  padding: 0.85rem 1.15rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.5s ease;
  display: block;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  height: 100%;
}

.nav-links .nav-link:hover {
  color: var(--light) !important;
  background: var(--dark);
  transition: all 0.5s ease;
}

.nav-links .nav-link.nav-border {
  border: 1px solid var(--light);
  border-radius: 100px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
}

.nav-links .nav-link.nav-border:hover {
  border: 1px solid transparent;
  /* transition: all 0.5s ease; */
}

.nav-links .nav-link.nav-light {
  background-color: var(--light);
  color: var(--dark);
  padding: 0.85rem 1.15rem;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.nav-links .nav-link.text-light {
  color: var(--dark);
}

.navbar-container.scrolled .nav-links .nav-link {
  color: var(--dark);
  transition: all 0.5s ease;
}

.navbar-container .scrolled {
  display: none;
  transition: all 0.5s ease;
}

.navbar-container .scroll {
  display: block;
  animation: show1 1s ease forwards;
  transition: all 0.5s ease;
}

.navbar-container.scrolled .scroll {
  display: none;
  transition: all 0.5s ease;
}

.navbar-container.scrolled .scrolled {
  display: block;
  transition: all 0.5s ease;
  animation: show 1s ease forwards;
}

.navbar-container.scrolled .nav-links .nav-link.nav-light {
  background-color: var(--dark);
  transition: all 0.5s ease;
  color: var(--light);
}

.navbar-container.scrolled .nav-links .nav-link.nav-border {
  border: 1px solid var(--dark);
}

@keyframes show {
  from {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes show1 {
  from {
    transform: translateY(-6px);
  }
  to {
    transform: translateY(0px);
  }
}

.drop-content {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  flex-direction: column;
  margin: 1.5rem 0 0 0;
}

.drop-content .drop-content-head {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--dark);
}

.drop-content .drop-content-head .drop-content-title {
  font-size: 0.95rem;
  font-weight: 500;
}

.drop-content-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.65rem;
}

.drop-content-links a {
  display: block;
  color: var(--dark);
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.8;
}

.offcanvas-container {
  position: fixed;
  width: 25rem;
  max-width: 100%;
  height: 100vh;
  top: 0;
  left: -500px;
  z-index: 9999;
  background-color: var(--dark);
  transition: all 0.75s ease;
}

.offcanvas-container.show {
  transition: all 0.85s ease;
  left: 0;
}

.offcanvas-links-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0.5rem;
  gap: 1.5rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.offcanvas-links a {
  color: var(--light);
}

.offcanvas-links a.btn-start {
  position: relative;
}

.offcanvas-links a.btn-start::after {
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1.5px;
  border-radius: 50px;
  background-color: var(--light);
  position: absolute;
}

.user-content {
  position: absolute;
  bottom: 3vw;
  left: 0;
  width: 100%;
}

.user-profile-content {
  position: absolute;
  top: -1vw;
  /* width: 100%; */
  width: max-content;
  right: 1vw;
}

.user-profile-image {
  width: 7vw;
  overflow: hidden;
  border-radius: 100px;
  height: 7vw;
}

.user-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-user {
  width: 350px;
  max-width: 100%;
  text-wrap: pretty;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 0 1rem 0 0;
  color: var(--light);
}

.user-title {
  font-size: 10vw;
  line-height: 9rem;
  letter-spacing: 1px;
  color: var(--light);
  font-weight: 300;
}

.user-title.user-title-1 {
  display: flex;
  padding: 0 0 0 1.5rem;
  justify-content: start;
}

.user-title.user-title-2 {
  display: flex;
  padding: 0 1.5rem 0 0;
  justify-content: end;
}

.section-title {
  font-size: 5vw;
  font-weight: 500;
  color: var(--primary);
  transition: all 0.5s ease;
}

.section-desc {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--primary);
  transition: all 0.5s ease;
}

section.section-creativity {
  padding: 12rem 0;
  transition: all 0.45s ease;
  background: var(--light-blue);
}

.sample-slider {
  width: 100%;
}

.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.slider {
  /* background-color: antiquewhite; */
  height: 520px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.slider.up {
  align-items: start;
}

.slider.middle {
  align-items: center;
}

.slider.down {
  align-items: end;
}

.slider .slider-content {
  position: relative;
  width: 100%;
}

.slider .slider-content .slider-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--light);
}

.slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-more-content {
  position: absolute;
  width: 100%;
  padding: 0 2.5rem;
}

section.section-description {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1;
}

.overlay-user {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  inset: 0;
}

.overlay-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-text {
  color: var(--light);
}

.description-text .description-title {
  font-size: 5vw;
  transition: all 0.45s ease;
  font-weight: 300;
}

.description-text .description-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.45s ease;
}

section.section-creators {
  background: var(--light-blue-2);
  padding: 2.5rem 2rem;
}

.creators-heading .creators-title {
  font-size: 6vw;
  font-weight: 400;
  line-height: 7vw;
  transition: all 0.45s ease;
}

.creators-heading .creators-subtitle {
  font-size: 0.95rem;
  font-weight: 500;
}

.creators-video {
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 30px;
  margin: auto;
  filter: drop-shadow(0rem 0rem 10.75rem rgba(255, 255, 255, 0.447));
}

.creators-video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

section.section-login {
  position: relative;
}

.login-txt {
  margin: 1rem auto 1.5rem auto;
  font-size: 1.25rem;
  font-weight: 500;
}

.login-link {
  margin: 1.25rem auto 1.75rem auto;
}

.login-link span {
  font-size: 0.95rem;
  font-weight: 400;
}

.login-link a {
  font-size: 0.95rem;
  font-weight: 500;
}

.login-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login-apps a {
  display: block;
  width: 150px;
  max-width: calc(100% / 2);
}

.login-apps img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* footer css */

.footer-container {
  width: 95%;
  margin: auto;
  max-width: 100%;
  padding: 2.5rem 1rem 1.5rem 1rem;
}

.footer-content-title {
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
}
.content-link {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--light);
}

.footer-content-link {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

/* footer css */

@media only screen and (max-width: 1240px) {
  .nav-links .nav-link {
    padding: 0.8rem 1.1rem;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.5s ease;
  }
  .navbar-container {
    padding: 2.25rem 1.5rem 2.25rem 1.5rem;
    transition: all 0.8s ease;
  }
}

@media only screen and (max-width: 1200px) {
  .slider {
    height: 400px;
  }

  .user-title {
    line-height: 8rem;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar-container {
    padding: 2.25rem 1rem 2.25rem 1rem;
    /* background-color: antiquewhite; */
    transition: all 0.8s ease;
  }

  .navbar-container.scrolled {
    transition: all 0.8s ease;
    padding: 1rem 2rem 1rem 2rem;
  }

  .nav-links .nav-link {
    padding: 0.7rem 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    transition: all 0.5s ease;
  }

  .user-title {
    line-height: 7.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .user-title {
    font-size: 8.5vw;
    line-height: 6.5rem;
  }

  .slider {
    height: 340px;
  }

  section.section-creativity {
    padding: 12rem 0 14rem 0;
    transition: all 0.45s ease;
  }

  .creators-heading .creators-title {
    font-size: 5rem;
    font-weight: 400;
    line-height: 5.5rem;
    transition: all 0.45s ease;
  }
}

@media only screen and (max-width: 767px) {
  .footer-container {
    width: 100%;
  }

  .user-content {
    /* position: relative; */
    /* top: 50%; */
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0%);
  }

  .user-profile-content {
    position: relative;
    right: unset;
    width: 100%;
    top: unset;
    padding: 0 0 0 1.25rem;
  }

  .user-profile {
    margin: 0 0 2rem 0;
  }

  .user-profile-image {
    width: 100px;
    height: 100px;
  }

  .user-title {
    line-height: 4rem;
  }

  .section-title {
    font-size: 2.5rem;
    transition: all 0.5s ease;
  }

  section.section-creativity {
    padding: 12rem 0 15rem 0;
    transition: all 0.45s ease;
  }

  .description-text .description-title {
    font-size: 3rem;
    transition: all 0.45s ease;
  }

  .creators-heading .creators-title {
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    transition: all 0.45s ease;
  }

  .creators-video {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .user-profile-image {
    width: 65px;
    height: 60px;
  }

  .user-title {
    line-height: 2.5rem;
  }

  .swiper-more-content {
    padding: 0 1.5rem;
  }

  .section-title {
    font-size: 2.25rem;
    transition: all 0.5s ease;
  }

  .section-desc {
    font-size: 1rem;
    transition: all 0.5s ease;
  }

  section.section-creativity {
    padding: 12rem 0 15.5rem 0;
    transition: all 0.45s ease;
  }

  .description-text .description-title {
    font-size: 2.25rem;
    transition: all 0.45s ease;
  }

  .description-text .description-subtitle {
    font-size: 1.25rem;
    transition: all 0.45s ease;
  }

  .creators-heading .creators-title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    transition: all 0.45s ease;
  }
}

@media only screen and (max-width: 400px) {
  section.section-creativity {
    padding: 12rem 0 17.5rem 0;
    transition: all 0.45s ease;
  }

  .creators-heading .creators-title {
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.45s ease;
  }
}

@media only screen and (max-width: 320px) {
  section.section-creativity {
    padding: 12rem 0 20rem 0;
    transition: all 0.45s ease;
  }
}
